.kk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___07 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__aYtuE {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
