@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Manrope%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-00zdo6EKblM_font-family: "Inter", sans-serif;
  --mixin-00zdo6EKblM_font-size: 16px;
  --mixin-00zdo6EKblM_font-weight: 400;
  --mixin-00zdo6EKblM_font-style: normal;
  --mixin-00zdo6EKblM_color: #535353;
  --mixin-00zdo6EKblM_text-align: left;
  --mixin-00zdo6EKblM_text-transform: none;
  --mixin-00zdo6EKblM_line-height: 1.5;
  --mixin-00zdo6EKblM_letter-spacing: normal;
  --mixin-00zdo6EKblM_white-space: pre-wrap;
  --mixin-00zdo6EKblM_user-select: text;
  --mixin-00zdo6EKblM_text-decoration-line: none;
  --mixin-00zdo6EKblM_text-overflow: clip;
  --mixin-mpAmLa43xYr_color: #000000;
  --mixin-mpAmLa43xYr_font-weight: 700;
  --mixin-mpAmLa43xYr_font-size: 64px;
  --mixin-mpAmLa43xYr_line-height: 1;
  --mixin-mpAmLa43xYr_letter-spacing: -1px;
  --mixin-mpAmLa43xYr_white-space: pre-wrap;
  --mixin-2rqYKyYHYHr_color: #000000;
  --mixin-2rqYKyYHYHr_font-size: 48px;
  --mixin-2rqYKyYHYHr_font-weight: 700;
  --mixin-2rqYKyYHYHr_letter-spacing: -0.5px;
  --mixin-2rqYKyYHYHr_line-height: 1.1;
  --mixin-2rqYKyYHYHr_white-space: pre-wrap;
  --mixin-pDq9jY57Iyc_color: #0070f3;
  --mixin-pDq9jY57Iyc_white-space: pre-wrap;
  --mixin-rXOwdmls0w-_color: #000000;
  --mixin-rXOwdmls0w-_font-size: 32px;
  --mixin-rXOwdmls0w-_font-weight: 600;
  --mixin-rXOwdmls0w-_line-height: 1.2;
  --mixin-rXOwdmls0w-_white-space: pre-wrap;
  --mixin-UAov5GFm_SD_color: #000000;
  --mixin-UAov5GFm_SD_font-size: 24px;
  --mixin-UAov5GFm_SD_font-weight: 600;
  --mixin-UAov5GFm_SD_line-height: 1.3;
  --mixin-UAov5GFm_SD_white-space: pre-wrap;
  --mixin-Rh8rnaoQsFW_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Rh8rnaoQsFW_border-bottom-color: #dddddd;
  --mixin-Rh8rnaoQsFW_border-bottom-style: solid;
  --mixin-Rh8rnaoQsFW_border-bottom-width: 1px;
  --mixin-Rh8rnaoQsFW_border-left-color: #dddddd;
  --mixin-Rh8rnaoQsFW_border-left-style: solid;
  --mixin-Rh8rnaoQsFW_border-left-width: 1px;
  --mixin-Rh8rnaoQsFW_border-right-color: #dddddd;
  --mixin-Rh8rnaoQsFW_border-right-style: solid;
  --mixin-Rh8rnaoQsFW_border-right-width: 1px;
  --mixin-Rh8rnaoQsFW_border-top-color: #dddddd;
  --mixin-Rh8rnaoQsFW_border-top-style: solid;
  --mixin-Rh8rnaoQsFW_border-top-width: 1px;
  --mixin-Rh8rnaoQsFW_border-bottom-left-radius: 3px;
  --mixin-Rh8rnaoQsFW_border-bottom-right-radius: 3px;
  --mixin-Rh8rnaoQsFW_border-top-left-radius: 3px;
  --mixin-Rh8rnaoQsFW_border-top-right-radius: 3px;
  --mixin-Rh8rnaoQsFW_font-family: "Inconsolata";
  --mixin-Rh8rnaoQsFW_padding-bottom: 1px;
  --mixin-Rh8rnaoQsFW_padding-left: 4px;
  --mixin-Rh8rnaoQsFW_padding-right: 4px;
  --mixin-Rh8rnaoQsFW_padding-top: 1px;
  --mixin-Rh8rnaoQsFW_white-space: pre-wrap;
  --mixin-EYgJr91mfvL_border-left-color: #dddddd;
  --mixin-EYgJr91mfvL_border-left-style: solid;
  --mixin-EYgJr91mfvL_border-left-width: 3px;
  --mixin-EYgJr91mfvL_color: #888888;
  --mixin-EYgJr91mfvL_padding-left: 10px;
  --mixin-EYgJr91mfvL_white-space: pre-wrap;
  --mixin-fuvWPXCcNK3_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-fuvWPXCcNK3_border-bottom-color: #dddddd;
  --mixin-fuvWPXCcNK3_border-bottom-style: solid;
  --mixin-fuvWPXCcNK3_border-bottom-width: 1px;
  --mixin-fuvWPXCcNK3_border-left-color: #dddddd;
  --mixin-fuvWPXCcNK3_border-left-style: solid;
  --mixin-fuvWPXCcNK3_border-left-width: 1px;
  --mixin-fuvWPXCcNK3_border-right-color: #dddddd;
  --mixin-fuvWPXCcNK3_border-right-style: solid;
  --mixin-fuvWPXCcNK3_border-right-width: 1px;
  --mixin-fuvWPXCcNK3_border-top-color: #dddddd;
  --mixin-fuvWPXCcNK3_border-top-style: solid;
  --mixin-fuvWPXCcNK3_border-top-width: 1px;
  --mixin-fuvWPXCcNK3_border-bottom-left-radius: 3px;
  --mixin-fuvWPXCcNK3_border-bottom-right-radius: 3px;
  --mixin-fuvWPXCcNK3_border-top-left-radius: 3px;
  --mixin-fuvWPXCcNK3_border-top-right-radius: 3px;
  --mixin-fuvWPXCcNK3_font-family: "Inconsolata";
  --mixin-fuvWPXCcNK3_padding-bottom: 3px;
  --mixin-fuvWPXCcNK3_padding-left: 6px;
  --mixin-fuvWPXCcNK3_padding-right: 6px;
  --mixin-fuvWPXCcNK3_padding-top: 3px;
  --mixin-fuvWPXCcNK3_white-space: pre-wrap;
  --mixin-PjdbSf49t2P_display: flex;
  --mixin-PjdbSf49t2P_flex-direction: column;
  --mixin-PjdbSf49t2P_align-items: stretch;
  --mixin-PjdbSf49t2P_justify-content: flex-start;
  --mixin-PjdbSf49t2P_list-style-position: outside;
  --mixin-PjdbSf49t2P_padding-left: 40px;
  --mixin-PjdbSf49t2P_position: relative;
  --mixin-PjdbSf49t2P_list-style-type: disc;
  --mixin-PjdbSf49t2P_white-space: pre-wrap;
  --mixin-koeVw3iowtT_display: flex;
  --mixin-koeVw3iowtT_flex-direction: column;
  --mixin-koeVw3iowtT_align-items: stretch;
  --mixin-koeVw3iowtT_justify-content: flex-start;
  --mixin-koeVw3iowtT_list-style-position: outside;
  --mixin-koeVw3iowtT_padding-left: 40px;
  --mixin-koeVw3iowtT_position: relative;
  --mixin-koeVw3iowtT_list-style-type: decimal;
  --mixin-koeVw3iowtT_white-space: pre-wrap;
  --mixin-ShRh6NgkHTE_color: #000000;
  --mixin-ShRh6NgkHTE_font-size: 20px;
  --mixin-ShRh6NgkHTE_font-weight: 600;
  --mixin-ShRh6NgkHTE_line-height: 1.5;
  --mixin-ShRh6NgkHTE_white-space: pre-wrap;
  --mixin-rVJOoSQzBrp_color: #000000;
  --mixin-rVJOoSQzBrp_font-size: 16px;
  --mixin-rVJOoSQzBrp_font-weight: 600;
  --mixin-rVJOoSQzBrp_line-height: 1.5;
  --mixin-rVJOoSQzBrp_white-space: pre-wrap;
  --mixin-3KIU7DzTANR_color: #3291ff;
  --mixin-3KIU7DzTANR_white-space: pre-wrap;
  --mixin-v2Bi2CX8axk_white-space: pre-wrap;
  --mixin-lMjCZh-e-q5_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-00zdo6EKblM_font-family);
  font-size: var(--mixin-00zdo6EKblM_font-size);
  font-weight: var(--mixin-00zdo6EKblM_font-weight);
  font-style: var(--mixin-00zdo6EKblM_font-style);
  color: var(--mixin-00zdo6EKblM_color);
  text-align: var(--mixin-00zdo6EKblM_text-align);
  text-transform: var(--mixin-00zdo6EKblM_text-transform);
  line-height: var(--mixin-00zdo6EKblM_line-height);
  letter-spacing: var(--mixin-00zdo6EKblM_letter-spacing);
  white-space: var(--mixin-00zdo6EKblM_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-mpAmLa43xYr_color);
  font-weight: var(--mixin-mpAmLa43xYr_font-weight);
  font-size: var(--mixin-mpAmLa43xYr_font-size);
  line-height: var(--mixin-mpAmLa43xYr_line-height);
  letter-spacing: var(--mixin-mpAmLa43xYr_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-2rqYKyYHYHr_color);
  font-size: var(--mixin-2rqYKyYHYHr_font-size);
  font-weight: var(--mixin-2rqYKyYHYHr_font-weight);
  letter-spacing: var(--mixin-2rqYKyYHYHr_letter-spacing);
  line-height: var(--mixin-2rqYKyYHYHr_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-pDq9jY57Iyc_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-rXOwdmls0w-_color);
  font-size: var(--mixin-rXOwdmls0w-_font-size);
  font-weight: var(--mixin-rXOwdmls0w-_font-weight);
  line-height: var(--mixin-rXOwdmls0w-_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-UAov5GFm_SD_color);
  font-size: var(--mixin-UAov5GFm_SD_font-size);
  font-weight: var(--mixin-UAov5GFm_SD_font-weight);
  line-height: var(--mixin-UAov5GFm_SD_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Rh8rnaoQsFW_font-family);
  border-radius: var(--mixin-Rh8rnaoQsFW_border-top-left-radius)
    var(--mixin-Rh8rnaoQsFW_border-top-right-radius)
    var(--mixin-Rh8rnaoQsFW_border-bottom-right-radius)
    var(--mixin-Rh8rnaoQsFW_border-bottom-left-radius);
  padding: var(--mixin-Rh8rnaoQsFW_padding-top)
    var(--mixin-Rh8rnaoQsFW_padding-right)
    var(--mixin-Rh8rnaoQsFW_padding-bottom)
    var(--mixin-Rh8rnaoQsFW_padding-left);
  border-top: var(--mixin-Rh8rnaoQsFW_border-top-width)
    var(--mixin-Rh8rnaoQsFW_border-top-style)
    var(--mixin-Rh8rnaoQsFW_border-top-color);
  border-right: var(--mixin-Rh8rnaoQsFW_border-right-width)
    var(--mixin-Rh8rnaoQsFW_border-right-style)
    var(--mixin-Rh8rnaoQsFW_border-right-color);
  border-bottom: var(--mixin-Rh8rnaoQsFW_border-bottom-width)
    var(--mixin-Rh8rnaoQsFW_border-bottom-style)
    var(--mixin-Rh8rnaoQsFW_border-bottom-color);
  border-left: var(--mixin-Rh8rnaoQsFW_border-left-width)
    var(--mixin-Rh8rnaoQsFW_border-left-style)
    var(--mixin-Rh8rnaoQsFW_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-EYgJr91mfvL_color);
  padding-left: var(--mixin-EYgJr91mfvL_padding-left);
  border-left: var(--mixin-EYgJr91mfvL_border-left-width)
    var(--mixin-EYgJr91mfvL_border-left-style)
    var(--mixin-EYgJr91mfvL_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-fuvWPXCcNK3_font-family);
  border-radius: var(--mixin-fuvWPXCcNK3_border-top-left-radius)
    var(--mixin-fuvWPXCcNK3_border-top-right-radius)
    var(--mixin-fuvWPXCcNK3_border-bottom-right-radius)
    var(--mixin-fuvWPXCcNK3_border-bottom-left-radius);
  padding: var(--mixin-fuvWPXCcNK3_padding-top)
    var(--mixin-fuvWPXCcNK3_padding-right)
    var(--mixin-fuvWPXCcNK3_padding-bottom)
    var(--mixin-fuvWPXCcNK3_padding-left);
  border-top: var(--mixin-fuvWPXCcNK3_border-top-width)
    var(--mixin-fuvWPXCcNK3_border-top-style)
    var(--mixin-fuvWPXCcNK3_border-top-color);
  border-right: var(--mixin-fuvWPXCcNK3_border-right-width)
    var(--mixin-fuvWPXCcNK3_border-right-style)
    var(--mixin-fuvWPXCcNK3_border-right-color);
  border-bottom: var(--mixin-fuvWPXCcNK3_border-bottom-width)
    var(--mixin-fuvWPXCcNK3_border-bottom-style)
    var(--mixin-fuvWPXCcNK3_border-bottom-color);
  border-left: var(--mixin-fuvWPXCcNK3_border-left-width)
    var(--mixin-fuvWPXCcNK3_border-left-style)
    var(--mixin-fuvWPXCcNK3_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-PjdbSf49t2P_display);
  flex-direction: var(--mixin-PjdbSf49t2P_flex-direction);
  align-items: var(--mixin-PjdbSf49t2P_align-items);
  justify-content: var(--mixin-PjdbSf49t2P_justify-content);
  list-style-position: var(--mixin-PjdbSf49t2P_list-style-position);
  padding-left: var(--mixin-PjdbSf49t2P_padding-left);
  position: var(--mixin-PjdbSf49t2P_position);
  list-style-type: var(--mixin-PjdbSf49t2P_list-style-type);
  flex-column-gap: var(--mixin-PjdbSf49t2P_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-koeVw3iowtT_display);
  flex-direction: var(--mixin-koeVw3iowtT_flex-direction);
  align-items: var(--mixin-koeVw3iowtT_align-items);
  justify-content: var(--mixin-koeVw3iowtT_justify-content);
  list-style-position: var(--mixin-koeVw3iowtT_list-style-position);
  padding-left: var(--mixin-koeVw3iowtT_padding-left);
  position: var(--mixin-koeVw3iowtT_position);
  list-style-type: var(--mixin-koeVw3iowtT_list-style-type);
  flex-column-gap: var(--mixin-koeVw3iowtT_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-ShRh6NgkHTE_color);
  font-size: var(--mixin-ShRh6NgkHTE_font-size);
  font-weight: var(--mixin-ShRh6NgkHTE_font-weight);
  line-height: var(--mixin-ShRh6NgkHTE_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-rVJOoSQzBrp_color);
  font-size: var(--mixin-rVJOoSQzBrp_font-size);
  font-weight: var(--mixin-rVJOoSQzBrp_font-weight);
  line-height: var(--mixin-rVJOoSQzBrp_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-3KIU7DzTANR_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
